export MYHOSTNAME='myclient.example.net'
export MYSERVERS=('myserver.example.net' 'myserver2.example.net')
export BORG_PASSPHRASE='MY_REPO_PASSPHRASE'
export SSH_PORT=20022
export BORG_RSH='ssh -oBatchMode=yes'
